/*======== Extra large device =========*/
@media (min-width: 1255px) {
    .navbar-container {
        max-width: 1240px;
    }
}

/*======== large device =========*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*======== medium device =========*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .large-device-logo {
        display: none;
    }

    .navbar {
        display: none;
    }

    .responsive-navbar {
        display: block;
    }

    .top-border {
        height: 8px;
        background-color: #000;
        display: none;
    }

    #banner-part {
        height: 700px;
    }

    video {
        height: 700px;
    }

    #banner-part h2 {
        text-align: center;
        font-size: 70px;
        padding: 300px 0px;
    }

    #banner-part .overlay {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000c;
        position: absolute;
    }

    #video-part h2 {
        color: #000;
        font-size: 30px;
        font-weight: 700;
        padding: 0px 5px 25px 0px;
        letter-spacing: 2px;
        line-height: 50px;
    }

    #video-part .video-head i {
        font-size: 12px;
        color: #000;
        width: 50px;
        height: 35px;
        line-height: 30px;
        text-align: center;
        border-radius: 14px;
        background: #ffff;
        position: absolute;
        transition: all 0.3s ease;
        border: 2px solid #000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #video-part p {
        padding: 0px;
    }

    #info-part .third-part {
        padding-top: 30px;
    }


    /* publication page  start */
    #publication-banner {
        height: 600px;
    }

    #publication-banner h2 {
        font-size: 35px;
    }

    #publication-banner p {
        font-size: 16px;
    }

    #publication-video-part h2 {
        color: #000;
        font-size: 30px;
        font-weight: 700;
        padding: 0px 5px 25px 0px;
        letter-spacing: 2px;
        line-height: 50px;
    }

    #publication-video-part .video-head i {
        font-size: 12px;
        color: #000;
        width: 50px;
        height: 35px;
        line-height: 30px;
        text-align: center;
        border-radius: 14px;
        background: #ffff;
        position: absolute;
        transition: all 0.3s ease;
        border: 2px solid #000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #publication-video-part p {
        padding: 0px;
    }

    #shop .left {
        right: 48%;
    }

    #shop .right {
        left: 43%;
    }

    #shop .slide-item figcaption {
        position: absolute;
        top: calc(83%);
        width: 100%;
        background-color: #fff;
        padding: 15px 25px 65px;
    }

    #shop .slide-item:hover figcaption,
    #shop .slide-item.hover figcaption {
        top: 150px;
    }

    #testimonials-part h4 {
        color: #dad6d6;
        font-size: 22px;
        font-weight: 300;
        padding: 0px 50px 50px;
    }

    #join-community {
        height: 400px;
        text-align: center;
    }

    #join-community h4 {
        color: #ffff;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 60px 0px 15px;
        text-align: left;
    }

    #join-community .right-part {
        padding: 0px;
    }

    #service-description .large-device {
        display: none;
    }

    #service-description .medium-device {
        display: block;
    }

    #service-description {
        padding-top: 0px;
    }

    #service-description .text-part {
        height: 600px;
        padding-top: 100px;
    }

    #service-description .text-part .text p {
        padding: 0px 0px;
    }

    #shop-gallery .top-cut {
        margin-top: -50px;
    }

    #shop-gallery .text-part h5 {
        padding-top: 150px;
    }

    #blogging-media .insider-details .text-part h5 {
        font-size: 26px;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        padding: 30px 0px 25px 0px;
    }

    #blogging-media .insider-details .text-part p {
        padding: 0px 0px 15px 0px;
    }

    #blogging-media .insider-details .top-cut {
        margin-top: 0px;
    }

    #blogging-media .insider-details .text-part h6 {
        padding-left: 0px;
    }

    figure.snip1104::before {
        width: 280%;
    }

    figure.snip1104 h2 {
        font-size: 20px;
    }

    #mail-part-contact h2 {
        font-size: 35px;
    }

    #meet h4 {
        padding: 0px 0px 30px;
    }
    #meet li {
        font-size: 14px;
    }


}

/*======== small device =========*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .large-device-logo {
        display: none;
    }

    .navbar {
        display: none;
    }

    .responsive-navbar {
        display: block;
    }

    .top-border {
        height: 8px;
        background-color: #000;
        display: none;
    }

    #banner-part {
        height: 700px;
    }

    video {
        height: 700px;
    }

    #banner-part h2 {
        text-align: center;
        font-size: 70px;
        padding: 300px 0px;
    }

    #banner-part .overlay {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000c;
        position: absolute;
    }

    #about-part,
    #publications-part,
    #project-part,
    #service-part,
    #initiative-part,
    #travel-part,
    #shop-part,
    #insider-part,
    #insider-banner {
        height: 500px;
    }

    #about-part h2,
    #publications-part h2,
    #project-part h2,
    #service-part h2,
    #initiative-part h2,
    #travel-part h2,
    #shop-part h2,
    #insider-part h2 {
        font-size: 35px;
    }

    #video-part {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #video-part h2 {
        font-size: 40px;
        padding: 0;
        text-align: center;
        padding: 0px 10px 20px;
    }

    #mail-part {
        height: 400px;
    }

    #mail-part h2 {
        font-size: 35px;
        padding: 60px 0px 50px;
    }

    #mail-part h6 {
        margin-top: 25px;
    }

    #myBtn {
        bottom: 40px;
        right: 40px;
    }

    #info-part .second-part {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #info-part .second-part i {
        right: 140px;
    }

    #info-part .third-part h6 {
        right: 140px;
    }

    #info-part .third-part i {
        right: 130px;
    }

    /* publication page  start */
    #publication-banner {
        height: 600px;
    }

    #publication-banner h2 {
        font-size: 35px;
    }

    #publication-banner p {
        font-size: 16px;
    }

    #publication-video-part {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #publication-video-part .text-part {
        text-align: center;
    }

    #publication-video-part h2 {
        font-size: 35px;
        padding: 0;
        text-align: center;
        padding: 30px 10px 20px;
        line-height: 50px;
    }

    #publication-video-part p {
        text-align: center;
    }

    #shop .left {
        right: 46%;
    }

    #shop .right {
        left: 40%;
    }


    #picture-part .text-part {
        padding-bottom: 60px;
    }

    #picture-part .text-part h5 {
        padding-top: 100px;
    }

    #picture-part .top-cut {
        margin-top: 100px;
    }

    #picture-part .large-display {
        display: none;

    }

    #picture-part .small-display {
        display: block;
    }

    #testimonials-part h2 {
        font-size: 60px;
    }

    #testimonials-part h4 {
        color: #dad6d6;
        font-size: 22px;
        font-weight: 300;
        padding: 0px 0px 50px;
    }

    #join-community {
        height: 400px;
        text-align: center;
    }

    #join-community h4 {
        color: #ffff;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 60px 0px 15px;
        text-align: left;
    }

    #join-community .right-part {
        padding: 0px;
    }

    /* service page start */
    #service-banner,
    #elevate,
    #mindful,
    #words,
    #self-help,
    #everyday,
    #mindful-essentials {
        height: 500px;
    }

    #service-banner h2 {
        font-size: 35px;
    }

    #service-description img {
        margin-bottom: 0px;
    }

    #service-description .text-part {
        height: 450px;
    }

    #elevate h2,
    #mindful h2,
    #words h2,
    #self-help h2,
    #everyday h2,
    #mindful-essentials h2 {
        font-size: 35px;
        padding: 160px 0px 35px;
    }

    /* shop page  start*/
    #shop-banner {
        height: 500px;

    }

    #shop-banner h2 {
        font-size: 35px;
    }

    #shop-gallery .text-part h5 {
        padding-top: 100px;
    }

    #shop-gallery .text-center {
        padding-bottom: 60px;
    }

    #shop-gallery .large-device {
        display: none;
    }

    #shop-gallery .small-device {
        display: block;
    }

    #shop-gallery .text-part {
        height: 450px;
    }

    #shop-gallery .text-center {
        padding-bottom: 0px;
    }

    #shop-gallery {
        padding-bottom: 0px;
    }

    #insider-description p {
        font-size: 16px;
        padding: 100px 0px;
    }

    #blogging-media .text-part {
        text-align: center;
        height: 600px;
    }

    #blogging-media #text-last-part {
        height: 450px;
    }

    #blogging-media .insider-details .text-part h5 {
        padding: 100px 0px 25px 0px;
    }

    #blogging-media .insider-details .text-part p {
        padding: 0px 0px 25px 10px;
    }

    #blogging-media .insider-details .text-part h6 {
        padding-left: 0px;
    }

    #blogging-media .insider-details .large-device {
        display: none;
    }

    #blogging-media .insider-details .small-device {
        display: block;
    }

    #slider-text-canvas .carousel-item .text h4 {
        font-size: 16px;
        padding-bottom: 0px;
    }

    #mail-part-contact h2 {
        font-size: 30px;
        padding: 80px 0px 50px;
    }

    figure.snip1104::before {
        width: 210%;
    }

    figure.snip1104 h2 {
        font-size: 20px;
    }

    #mail-part-contact h2 {
        font-size: 30px;
        padding: 80px 0px 50px;
    }

    /* history page */
    #history-banner {
        padding-top: 70px;
    }

    #history-banner .lower-parts h3 {
        font-size: 26px;
    }

    #history-banner .lower-parts .main-description {
        padding: 0px 15px;
    }

    #history-body h2 {
        font-size: 45px;
    }

    #history-body .left-bar {
        display: none;
    }

    #history-body .mobile-version {
        display: block;
    }

    .mobile-version .menu {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 100px;
    }

    .mobile-version .menu>li>a {
        color: #fff;
        display: block;
        padding: 10px 20px;
        text-align: center;
        font-size: 20px;
        text-decoration: none;
    }

    .mobile-version .menu ul {
        background: #000;
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: all .5s ease;
        top: 53px;
        width: 100%;
        z-index: 9;
    }

    .menu li:hover ul {
        height: 200px;
        opacity: 1;
        transform: translateY(0);
    }

    .menu ul a {
        color: #fff;
        font-size: 20px;
        display: block;
        padding: 5px 20px;
    }

    /* #history-body .year-details .year-two img {
        width: 100%;
    } */
    #history-body .year-details .common-year-space {
        position: relative;
        padding: 50px 0px 80px;
    }

    #history-body .year-details #year-two .image-one {
        height: 122px;
        width: 170px;

    }

    #history-body .year-details #year-two .image-two {
        height: 140px;
        width: 150px;
        margin-top: 30px;
    }

    #history-body .year-details #year-two h2 {
        top: 44%;
    }

    #history-body .year-details #year-two a {
        top: 42%;
        color: #fff;
    }

    #history-body .year-details #year-two .image-three {
        height: 120px;
        width: 170px;
        margin-top: 180px;
    }

    #history-body .year-details #year-two .image-four {
        height: 275px;
        width: 170px;
        margin-top: 81px;
    }

    #history-body .year-details #year-three .image-one {
        height: 170px;
        width: 145px;
        margin-right: -30px;
    }

    #history-body .year-details #year-three .image-two {
        height: 120px;
        width: 178px;
        margin: 50px 0px 0px 0px;
    }

    #history-body .year-details #year-three .image-three {
        height: 100px;
        width: 80px;
        margin-top: 170px;
        margin-right: 30px;
    }

    #history-body .year-details #year-three .image-four {
        height: 150px;
        width: 95px;
        margin-top: 207px;
        margin-left: -50px;
        display: inherit;
    }

    #history-body .year-details #year-three .image-five {
        height: 186px;
        width: 140px;
        margin-top: -187px;
    }

    #history-body .year-details #year-three h2 {
        top: 49%;
    }

    #mentee-banner h2 {
        font-size: 35px;
    }

    #mentee-banner {
        height: 500px;
    }

    #mentee-description img {
        margin-bottom: 30px;
    }

    #mentee-description .text-part {
        height: 300px;
    }

    #mail-part h2 {
        font-size: 30px;
        padding: 60px 0px 50px;
    }

    #mail-part input {
        width: 360px;
        margin-bottom: 20px;
    }

    #mail-part {
        height: 350px;
    }

    #testimonials-part {
        height: 650px;
    }

    #meet h4 {
        padding: 0px 0px 30px;
    }

    #meet img {
        margin: 30px 0px;
    }

}

/*======== Extra small device =========*/

@media (max-width: 575.98px) {
    .large-device-logo {
        display: none;
    }

    .navbar {
        display: none;
    }

    .responsive-navbar {
        display: block;
    }

    .top-border {
        height: 8px;
        background-color: #000;
        display: none;
    }

    #banner-part {
        height: 700px;
    }

    video {
        height: 700px;
    }

    #banner-part h2 {
        text-align: center;
        font-size: 70px;
        padding: 300px 0px;
    }

    #banner-part .overlay {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000c;
        position: absolute;
    }

    #about-part,
    #publications-part,
    #project-part,
    #service-part,
    #initiative-part,
    #travel-part,
    #shop-part,
    #insider-part {
        height: 500px;
    }

    #about-part h2,
    #publications-part h2,
    #project-part h2,
    #service-part h2,
    #initiative-part h2,
    #travel-part h2,
    #shop-part h2,
    #insider-part h2 {
        font-size: 35px;
    }

    #video-part {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #video-part h2 {
        font-size: 40px;
        padding: 0;
        text-align: center;
        padding: 0px 10px 20px;
    }

    #mail-part {
        height: 400px;
    }

    #mail-part h2 {
        font-size: 35px;
        padding: 60px 0px 50px;
    }

    #mail-part h6 {
        margin-top: 25px;
    }

    #myBtn {
        bottom: 40px;
        right: 40px;
    }

    #info-part .second-part {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #info-part .second-part i {
        right: 140px;
    }

    #info-part .third-part h6 {
        right: 140px;
    }

    #info-part .third-part i {
        right: 130px;
    }

    /* publication page  start */
    #publication-banner {
        height: 600px;
    }

    #publication-banner h2 {
        font-size: 35px;
    }

    #publication-banner p {
        font-size: 16px;
    }

    #publication-video-part {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #publication-video-part .text-part {
        text-align: center;
    }

    #publication-video-part h2 {
        font-size: 35px;
        padding: 0;
        text-align: center;
        padding: 30px 10px 20px;
        line-height: 50px;
    }

    #publication-video-part p {
        text-align: center;
    }

    #shop .left {
        right: 42%;
    }

    #shop .right {
        bottom: 60px;
        left: 40%;
    }

    #shop .slide-item figcaption {
        position: absolute;
        top: calc(90%);
        width: 100%;
        background-color: #fff;
        padding: 15px 25px 65px;
    }


    #shop .slide-item:hover figcaption,
    #shop .slide-item.hover figcaption {
        top: 430px;
    }

    #picture-part .text-part {
        padding-bottom: 60px;
    }

    #picture-part .text-part h5 {
        padding-top: 100px;
    }

    #picture-part .top-cut {
        margin-top: 100px;
    }

    #picture-part .large-display {
        display: none;

    }

    #picture-part .small-display {
        display: block;
    }

    #testimonials-part h2 {
        font-size: 60px;
    }

    #testimonials-part h4 {
        color: #dad6d6;
        font-size: 22px;
        font-weight: 300;
        padding: 0px 0px 50px;
    }

    /* still page start */
    #still-banner {
        height: 500px;
    }

    #still-banner h2 {
        font-size: 35px;
    }

    #still-details-banner h4 {
        font-size: 20px;
    }

    #still-offering h4 {
        color: #fff;
        font-size: 26px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 176px 0px 40px;
    }

    #join-community {
        height: 400px;
        text-align: center;
    }

    #join-community h4 {
        color: #ffff;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 60px 0px 15px;
        text-align: left;
    }

    #join-community .right-part {
        padding: 0px;
    }

    /* service page start */
    #service-banner,
    #elevate,
    #mindful,
    #words,
    #self-help,
    #everyday,
    #mindful-essentials,
    #insider-banner,
    #gateway-banner,
    #contact-banner {
        height: 500px;
    }

    #service-banner h2,
    #gateway-banner h2,
    #contact-banner h2 {
        font-size: 35px;
    }

    #service-description img {
        margin-bottom: 0px;
    }

    #service-description .text-part {
        height: 550px;
    }

    #elevate h2,
    #mindful h2,
    #words h2,
    #self-help h2,
    #everyday h2,
    #mindful-essentials h2 {
        font-size: 35px;
        padding: 160px 0px 35px;
    }

    /* shop page  start*/
    #shop-banner {
        height: 500px;

    }

    #shop-banner h2 {
        font-size: 35px;
    }

    #shop-gallery .text-part h5 {
        padding-top: 100px;
    }

    #shop-gallery .text-center {
        padding-bottom: 60px;
    }

    #shop-gallery .large-device {
        display: none;
    }

    #shop-gallery .small-device {
        display: block;
    }

    #shop-gallery .text-part {
        height: 450px;
    }

    #shop-gallery .text-center {
        padding-bottom: 0px;
    }

    #shop-gallery {
        padding-bottom: 0px;
    }

    #insider-description p {
        font-size: 16px;
        padding: 100px 0px;
    }

    #blogging-media .text-part {
        text-align: center;
        height: 630px;
    }

    #blogging-media #text-last-part {
        height: 450px;
    }

    #blogging-media .insider-details .text-part h5 {
        padding: 100px 0px 25px 0px;
    }

    #blogging-media .insider-details .text-part p {
        padding: 0px 0px 25px 10px;
    }

    #blogging-media .insider-details .text-part h6 {
        padding-left: 0px;
    }

    #blogging-media .insider-details .large-device {
        display: none;
    }

    #blogging-media .insider-details .small-device {
        display: block;
    }

    #slider-text-canvas .carousel-item .text h4 {
        font-size: 16px;
        padding-bottom: 0px;
    }

    #mail-part-contact h2 {
        font-size: 30px;
        padding: 80px 0px 50px;
    }

    figure.snip1104::before {
        width: 280%;
    }

    figure.snip1104 h2 {
        font-size: 20px;
    }

    #mail-part-contact h2 {
        font-size: 30px;
        padding: 80px 0px 50px;
    }

    #mail-part-contact input {
        width: 360px;
    }

    #mail-part input {
        width: 360px;
    }

    #still-offering a {
        margin-bottom: 10px;
    }

    #join-community input {
        width: 360px;
    }

    /* history page */
    #history-banner {
        padding-top: 70px;
    }

    #history-banner .lower-parts h3 {
        font-size: 26px;
    }

    #history-banner .lower-parts .main-description {
        padding: 0px 15px;
    }

    #history-body h2 {
        font-size: 45px;
    }

    #history-body .left-bar {
        display: none;
    }

    #history-body .mobile-version {
        display: block;
    }

    .mobile-version .menu {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 100px;
    }

    .mobile-version .menu>li>a {
        color: #fff;
        display: block;
        padding: 10px 20px;
        font-size: 20px;
        text-decoration: none;
    }

    .mobile-version .menu ul {
        background: #000;
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: all .5s ease;
        top: 53px;
        width: 100%;
        z-index: 9;
    }

    .menu li:hover ul {
        height: 200px;
        opacity: 1;
        transform: translateY(0);
    }

    .menu ul a {
        color: #fff;
        font-size: 20px;
        display: block;
        padding: 5px 20px;
    }

    /* #history-body .year-details .year-two img {
        width: 100%;
    } */
    #history-body .year-details .common-year-space {
        position: relative;
        padding: 50px 0px 80px;
    }

    #history-body .year-details #year-two .image-one {
        height: 122px;
        width: 170px;

    }

    #history-body .year-details #year-two .image-two {
        height: 140px;
        width: 150px;
        margin-top: 30px;
    }

    #history-body .year-details #year-two h2 {
        top: 44%;
    }

    #history-body .year-details #year-two a {
        top: 42%;
        color: #fff;
    }

    #history-body .year-details #year-two .image-three {
        height: 120px;
        width: 170px;
        margin-top: 180px;
    }

    #history-body .year-details #year-two .image-four {
        height: 275px;
        width: 170px;
        margin-top: 81px;
    }

    #history-body .year-details #year-three .image-one {
        height: 170px;
        width: 145px;
        margin-right: -30px;
    }

    #history-body .year-details #year-three .image-two {
        height: 120px;
        width: 178px;
        margin: 50px 0px 0px 0px;
    }

    #history-body .year-details #year-three .image-three {
        height: 100px;
        width: 80px;
        margin-top: 170px;
        margin-right: 30px;
    }

    #history-body .year-details #year-three .image-four {
        height: 150px;
        width: 95px;
        margin-top: 207px;
        margin-left: -50px;
        display: inherit;
    }

    #history-body .year-details #year-three .image-five {
        height: 186px;
        width: 140px;
        margin-top: -187px;
    }

    #history-body .year-details #year-three h2 {
        top: 49%;
    }

    #history-details-body {
        padding-top: 160px;
    }

    #history-details-body .left-bar {
        display: none;
    }

    #history-details-body .mobile-version {
        display: block;
        position: relative;
    }

    #history-details-body .mobile-version .cross-part a {
        color: #fbfbfb;
        font-size: 23px;
        position: absolute;
        top: 10px;
        right: 50px;
    }

    #history-details-body .year-details-box .first-year-details .cross-part a {
        display: none;
    }

    #history-details-body .year-details-box .mobile-view {
        display: block;
        padding: 30px 10px;
    }

    #history-details-body .year-details-box .desktop-view {
        display: none;
    }

    #history-details-body .year-details-box .first-year-details .text-part h4 {
        padding-top: 0px;
    }


    #history-details-body .year-details-box .first-year-details .next-prev a {
        bottom: 10px;
    }

    #mentee-banner h2 {
        font-size: 35px;
    }

    #mentee-banner {
        height: 500px;
    }

    #mentee-description img {
        margin-bottom: 30px;
    }

    #mentee-description .text-part {
        height: 300px;
    }

    #mail-part h2 {
        font-size: 30px;
        padding: 60px 0px 50px;
    }

    #mail-part input {
        width: 360px;
        margin-bottom: 20px;
    }

    #mail-part {
        height: 350px;
    }

    #testimonials-part {
        height: 650px;
    }

    #meet h4 {
        padding: 0px 0px 30px;
    }

    #meet img {
        margin: 30px 0px;
    }
}